<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>Upload your file here</h1>
  <form action="/upload" method="POST" enctype="multipart/form-data">
    <input type="file" name="profileImage">
    <button type="submit">Upload</button>
  </form>
  <h1>Video:</h1>
  <video width="320" height="240" controls>
    <source src="/uploads/<%= video %>" type=video/mp4>
  </video>
  <h1>Click download button to download video.</h1>
  <form action="/download">
    <button type="submit">Download</button>
  </form>
</body>

</html>